# Base de datos de la loto

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import urllib.request

In [2]:
url = 'https://www.nacionalloteria.com/republica-dominicana/lista-resultados-loto.php'
r = requests.get(url).text
soup = BeautifulSoup(r, 'html.parser')

In [3]:
dfs = pd.read_html(r)

In [4]:
len(dfs)

1

In [5]:
dfs[0]

         Fecha    Combinación Ganadora Loto +
0   22/09/2021  07, 22, 27, 29, 30, 33     10
1   18/09/2021  15, 16, 26, 30, 33, 35      4
2   15/09/2021  01, 10, 13, 18, 23, 27     08
3   11/09/2021  01, 02, 07, 08, 14, 25      8
4   08/09/2021  03, 09, 12, 17, 31, 36     07
..         ...                     ...    ...
70  16/01/2021  07, 13, 14, 16, 28, 30    4|7
71  13/01/2021  03, 06, 15, 20, 21, 25    9|3
72  09/01/2021  06, 07, 09, 14, 26, 31    6|8
73  06/01/2021  02, 04, 22, 25, 26, 36  10|13
74  02/01/2021  01, 03, 06, 22, 24, 30    3|7

[75 rows x 3 columns]

In [6]:
data = dfs[0]
data.head()

        Fecha    Combinación Ganadora Loto +
0  22/09/2021  07, 22, 27, 29, 30, 33     10
1  18/09/2021  15, 16, 26, 30, 33, 35      4
2  15/09/2021  01, 10, 13, 18, 23, 27     08
3  11/09/2021  01, 02, 07, 08, 14, 25      8
4  08/09/2021  03, 09, 12, 17, 31, 36     07

In [7]:
def get_data(num_ano):
    ano = str(num_ano)
    url = 'https://www.nacionalloteria.com/republica-dominicana/lista-resultados-loto.php?anno=' + ano
    r = requests.get(url).text
    soup = BeautifulSoup(r, 'html.parser')
    dfs = pd.read_html(r)
    data = dfs[0]
    return data

In [10]:
df_2019 = get_data(2019)
df_2020 = get_data(2020)
df_2021 = get_data(2021)

In [11]:
df = pd.concat([df_2019, df_2020, df_2021])

In [12]:
df.head()

        Fecha    Combinación Ganadora Loto +
0  28/12/2019  05, 06, 19, 28, 29, 32    7|4
1  21/12/2019  05, 12, 15, 24, 32, 37    1|1
2  18/12/2019  01, 07, 12, 23, 35, 38   2|11
3  14/12/2019  03, 05, 12, 20, 24, 37   5|11
4  11/12/2019  05, 12, 14, 24, 33, 35    1|8

In [13]:
df.shape

(261, 3)

In [14]:
df.to_excel('base.xlsx', index=False)

In [17]:
new_df = pd.read_excel('base.xlsx', sheet_name='data')

In [18]:
new_df.head()

       Fecha  bolo1  bolo2  bolo3  bolo4  bolo5  bolo6  Loto +.1  Loto +.2
0 2019-12-28      5      6     19     28     29     32         7         4
1 2019-12-21      5     12     15     24     32     37         1         1
2 2019-12-18      1      7     12     23     35     38         2        11
3 2019-12-14      3      5     12     20     24     37         5        11
4 2019-12-11      5     12     14     24     33     35         1         8

In [20]:
new_df.dtypes

Fecha       datetime64[ns]
bolo1                int64
bolo2                int64
bolo3                int64
bolo4                int64
bolo5                int64
bolo6                int64
Loto +.1             int64
Loto +.2             int64
dtype: object