# LOTO 

**FORECASTING WITH STATMODEL**

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## DATA

In [30]:
df = pd.read_excel('base.xlsx',sheet_name='datos', index_col=0)

In [31]:
#df.rename(columns={"Fecha": 'date'}, inplace=True)

In [32]:
df.index = pd.DatetimeIndex(df.index).to_period('d')

In [33]:
df.head(2)

            bolo1  bolo2  bolo3  bolo4  bolo5  bolo6  Loto +.1  Loto +.2
Fecha
2019-04-10     12     15     18     23     25     31         4         1
2019-04-13      7      9     10     21     27     28         5         5

In [34]:
df.tail(1)

            bolo1  bolo2  bolo3  bolo4  bolo5  bolo6  Loto +.1  Loto +.2
Fecha
2022-09-03      2      5      7     16     21     36         5        10

### Split into train-test datset

In [35]:
df1 = df.drop(df.columns.difference(['bolo1']), axis =1)

In [36]:
df1.asfreq('d')
df1.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 330 entries, 2019-04-10 to 2022-09-03
Freq: D
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bolo1   330 non-null    int64
dtypes: int64(1)
memory usage: 5.2 KB

In [37]:
df1.index

PeriodIndex(['2019-04-10', '2019-04-13', '2019-04-17', '2019-04-20',
             '2019-04-24', '2019-04-27', '2019-05-01', '2019-05-04',
             '2019-05-08', '2019-05-11',
             ...
             '2022-08-03', '2022-08-06', '2022-08-10', '2022-08-13',
             '2022-08-17', '2022-08-20', '2022-08-24', '2022-08-27',
             '2022-08-31', '2022-09-03'],
            dtype='period[D]', name='Fecha', length=330)

In [38]:
train = df1.iloc[ : 226]
test = df1.iloc[225 : ]

## Model

In [39]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [40]:
model =  ExponentialSmoothing(train['bolo1'], trend='add', seasonal='add', 
                             seasonal_periods=15).fit()

En model forecast hay que cambiar los d√≠as.....(95)

In [41]:
predictions = model.forecast(105)

In [42]:
predictions

2021-08-29     9.268846
2021-08-30     9.003883
2021-08-31     9.535555
2021-09-01    13.395647
2021-09-02    10.795592
                ...
2021-12-07    10.204417
2021-12-08    10.008824
2021-12-09    11.272772
2021-12-10     8.949221
2021-12-11    11.484101
Freq: D, Length: 105, dtype: float64

## Metrics

In [43]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [44]:
mean_absolute_error(test, predictions)

5.542964405584407

In [45]:
mean_squared_error(test, predictions)

39.26103040405055

In [46]:
np.sqrt(mean_squared_error(test, predictions))

6.265862303310739

## Making new Predictions

#### Prueba de dias

In [47]:
#all df
model1 = ExponentialSmoothing(df['bolo1'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict saturday = 3 wenesday = 4

In [48]:
pred1.tail(1)

2022-09-07    10.541227
Freq: D, dtype: float64

In [49]:
int(pred1.tail(1))

10

In [50]:
#all df
model1 = ExponentialSmoothing(df['bolo2'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict
print(pred1.tail(1))
print('bolo2', int(pred1.tail(1)))

2022-09-07    13.850755
Freq: D, dtype: float64
bolo2 13

In [51]:
model1 = ExponentialSmoothing(df['bolo3'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict
print(pred1.tail(1))
print('bolo3', int(pred1.tail(1)))

2022-09-07    21.906881
Freq: D, dtype: float64
bolo3 21

In [52]:
model1 = ExponentialSmoothing(df['bolo4'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict
print(pred1.tail(1))
print('bolo4', int(pred1.tail(1)))

2022-09-07    24.305569
Freq: D, dtype: float64
bolo4 24

In [53]:
model1 = ExponentialSmoothing(df['bolo5'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict
print(pred1.tail(1))
print('bolo5', int(pred1.tail(1)))

2022-09-07    28.112315
Freq: D, dtype: float64
bolo5 28

In [54]:
model1 = ExponentialSmoothing(df['bolo6'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict
print(pred1.tail(1))
print('bolo6', int(pred1.tail(1)))

2022-09-07    32.036424
Freq: D, dtype: float64
bolo6 32

In [55]:
model1 = ExponentialSmoothing(df['Loto +.1'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict
print(pred1.tail(1))
print('Loto +1', int(pred1.tail(1)))

2022-09-07    8.650508
Freq: D, dtype: float64
Loto +1 8

In [56]:
model1 = ExponentialSmoothing(df['Loto +.2'], trend='add', seasonal='add', seasonal_periods=15).fit()

pred1 = model1.forecast(4) #change the days to predict
print(pred1.tail(1))
print('Loto +2', int(pred1.tail(1)))

2022-09-07    7.313297
Freq: D, dtype: float64
Loto +2 7