# web scrapper loto

In [18]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import urllib.request

In [103]:
url = 'https://leidsa.com/sorteos-anteriores'
r = requests.get(url).text
soup = BeautifulSoup(r, 'html.parser')

In [105]:
dfs = pd.read_html(r)

In [107]:
len(dfs)

1

In [110]:
dfs[0]

,Fecha,#Sorteo,Juego,Tanda,Números Ganadores
0,24/09/2021,351,LA PRIMERA,TARDE,67 11 49
1,24/09/2021,401,LA SUERTE,TARDE,12 60 22
2,24/09/2021,3514,LOTERIA REAL,TARDE,68 64 90
3,23/09/2021,4453,SUPER KINO TV,NOCHE,03 08 10 11 13 15 17 30 32 36 38 48 53 55 56 6...
4,23/09/2021,8191,QUINIELA PALE,NOCHE,95 12 70
...,...,...,...,...,...
245,31/08/2021,9870,NACIONAL,TARDE,09 71 36
246,31/08/2021,9871,NACIONAL,NOCHE,82 85 95
247,31/08/2021,1229,LOTEKA,NOCHE,70 47 79
248,31/08/2021,3169,PEGA 3 MAS,NOCHE,30 1 13
249,31/08/2021,7424,LOTO POOL,NOCHE,05 16 22 23 28

In [111]:
df1 = dfs[0]
df1.head()

,Fecha,#Sorteo,Juego,Tanda,Números Ganadores
0,24/09/2021,351,LA PRIMERA,TARDE,67 11 49
1,24/09/2021,401,LA SUERTE,TARDE,12 60 22
2,24/09/2021,3514,LOTERIA REAL,TARDE,68 64 90
3,23/09/2021,4453,SUPER KINO TV,NOCHE,03 08 10 11 13 15 17 30 32 36 38 48 53 55 56 6...
4,23/09/2021,8191,QUINIELA PALE,NOCHE,95 12 70

In [113]:
df2 = df1[df1['Juego']=='LOTO']

In [114]:
df2.shape

(7, 5)

### Method 2

In [106]:
dfs

[          Fecha  #Sorteo          Juego  Tanda  \
 0    24/09/2021      351     LA PRIMERA  TARDE
 1    24/09/2021      401      LA SUERTE  TARDE
 2    24/09/2021     3514   LOTERIA REAL  TARDE
 3    23/09/2021     4453  SUPER KINO TV  NOCHE
 4    23/09/2021     8191  QUINIELA PALE  NOCHE
 ..          ...      ...            ...    ...
 245  31/08/2021     9870       NACIONAL  TARDE
 246  31/08/2021     9871       NACIONAL  NOCHE
 247  31/08/2021     1229         LOTEKA  NOCHE
 248  31/08/2021     3169     PEGA 3 MAS  NOCHE
 249  31/08/2021     7424      LOTO POOL  NOCHE

                                      Números Ganadores
 0                                             67 11 49
 1                                             12 60 22
 2                                             68 64 90
 3    03 08 10 11 13 15 17 30 32 36 38 48 53 55 56 6...
 4                                             95 12 70
 ..                                                 ...
 245                                           09 71 36
 246                                           82 85 95
 247                                           70 47 79
 248                                            30 1 13
 249                                     05 16 22 23 28

 [250 rows x 5 columns]]

In [85]:
print(len(dfs))

1

In [86]:
dfs[0]['Fecha']

0      24/09/2021
1      24/09/2021
2      24/09/2021
3      23/09/2021
4      23/09/2021
          ...
245    31/08/2021
246    31/08/2021
247    31/08/2021
248    31/08/2021
249    31/08/2021
Name: Fecha, Length: 250, dtype: object

### Data frame

In [87]:
data = pd.DataFrame()
data['fecha'] = dfs[0]['Fecha']
data['juego'] = dfs[0]['Juego']
data['num_ganadores'] = dfs[0]['Números Ganadores']

In [88]:
data.head()

,fecha,juego,num_ganadores
0,24/09/2021,LA PRIMERA,67 11 49
1,24/09/2021,LA SUERTE,12 60 22
2,24/09/2021,LOTERIA REAL,68 64 90
3,23/09/2021,SUPER KINO TV,03 08 10 11 13 15 17 30 32 36 38 48 53 55 56 6...
4,23/09/2021,QUINIELA PALE,95 12 70

In [89]:
data['juego'].unique()

array(['LA PRIMERA', 'LA SUERTE', 'LOTERIA REAL', 'SUPER KINO TV',
       'QUINIELA PALE', 'NACIONAL', 'LOTEKA', 'PEGA 3 MAS', 'LOTO POOL',
       'LOTO'], dtype=object)

In [90]:
df = data[data['juego']=='LOTO']

In [91]:
df

          fecha juego            num_ganadores
23   22/09/2021  LOTO  07 22 27 29 30 33 10 04
65   18/09/2021  LOTO  15 16 26 30 33 35 04 12
96   15/09/2021  LOTO  01 10 13 18 23 27 08 09
137  11/09/2021  LOTO  01 02 07 08 14 25 08 11
168  08/09/2021  LOTO  03 09 12 17 31 36 07 10
210  04/09/2021  LOTO  13 14 18 20 25 33 02 02
241  01/09/2021  LOTO  04 15 16 18 27 38 04 07

### Method 3

In [115]:
req = requests.get(url)
soup = BeautifulSoup(req.content, 'html.parser')

In [116]:
tableta =  soup.find(name='table')

In [123]:
len(tableta)

5

In [120]:
df4 =  pd.read_html(str(tableta))[0]

In [121]:
df4.head()

,Fecha,#Sorteo,Juego,Tanda,Números Ganadores
0,24/09/2021,351,LA PRIMERA,TARDE,67 11 49
1,24/09/2021,401,LA SUERTE,TARDE,12 60 22
2,24/09/2021,3514,LOTERIA REAL,TARDE,68 64 90
3,23/09/2021,4453,SUPER KINO TV,NOCHE,03 08 10 11 13 15 17 30 32 36 38 48 53 55 56 6...
4,23/09/2021,8191,QUINIELA PALE,NOCHE,95 12 70

In [122]:
df4.shape

(250, 5)

In [133]:
df4 = df4[df4['Juego']=='LOTO']

In [134]:
df4.shape

(7, 5)

In [135]:
df4

          Fecha  #Sorteo Juego  Tanda        Números Ganadores
23   22/09/2021     1197  LOTO  NOCHE  07 22 27 29 30 33 10 04
65   18/09/2021     1196  LOTO  NOCHE  15 16 26 30 33 35 04 12
96   15/09/2021     1195  LOTO  NOCHE  01 10 13 18 23 27 08 09
137  11/09/2021     1194  LOTO  NOCHE  01 02 07 08 14 25 08 11
168  08/09/2021     1193  LOTO  NOCHE  03 09 12 17 31 36 07 10
210  04/09/2021     1192  LOTO  NOCHE  13 14 18 20 25 33 02 02
241  01/09/2021     1191  LOTO  NOCHE  04 15 16 18 27 38 04 07

In [136]:
df4.to_excel('base.xlsx', index=False)