# Linear model  
**Descripci√≥n:** Entrenamiento de modelo y exportarlo

In [1]:
import numpy as np
import pandas as pd
import joblib
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

## 1- Read data

In [2]:
data= pd.read_excel('base.xlsx', sheet_name='datos')

In [3]:
data.tail()

         Fecha  bolo1  bolo2  bolo3  bolo4  bolo5  bolo6  Loto +.1  Loto +.2
322 2022-08-10      4      6      7     14     25     28         6        10
323 2022-08-13      1      2      8      9     11     28        11         8
324 2022-08-17      6     11     12     24     31     34        11         9
325 2022-08-20      2     11     15     18     25     28         7        15
326 2022-08-24      5     16     22     28     36     38         2         4

## 2- Data Prep

In [4]:
data.columns.values

array(['Fecha', 'bolo1', 'bolo2', 'bolo3', 'bolo4', 'bolo5', 'bolo6',
       'Loto +.1', 'Loto +.2'], dtype=object)

In [5]:
bol1 = data.copy()
bol1['prediction'] = bol1[['bolo1']].shift(-1)

bol2 = data.copy()
bol2['prediction'] = bol2[['bolo2']].shift(-1)

bol3 = data.copy()
bol3['prediction'] = bol3[['bolo3']].shift(-1)

bol3 = data.copy()
bol3['prediction'] = bol3[['bolo3']].shift(-1)

bol4 = data.copy()
bol4['prediction'] = bol4[['bolo4']].shift(-1)

bol5 = data.copy()
bol5['prediction'] = bol5[['bolo5']].shift(-1)

bol6 = data.copy()
bol6['prediction'] = bol6[['bolo6']].shift(-1)

loto_1 = data.copy()
loto_1['prediction'] = loto_1[['Loto +.1']].shift(-1)

loto_2 = data.copy()
loto_2['prediction'] = loto_2[['Loto +.2']].shift(-1)

### Bolo1

In [6]:
X = bol1.drop(['prediction', 'Fecha'], axis=1 )
y = bol1['prediction']
X = X[:-1]
y = y[:-1]

In [7]:
X.head()

   bolo1  bolo2  bolo3  bolo4  bolo5  bolo6  Loto +.1  Loto +.2
0     12     15     18     23     25     31         4         1
1      7      9     10     21     27     28         5         5
2      1      3     13     20     35     36         1        13
3      4      6     11     13     27     28        10         7
4      1      7     19     33     36     38         1         2

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.10, random_state=42)

In [9]:
lr = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
lr.fit(X_train, y_train)

LogisticRegression(max_iter=300, random_state=42, solver='liblinear')

In [10]:
#y_bol1 = lr.predict(X_test)

In [11]:
#resultados = pd.DataFrame()
#resultados['test']= y_test
#resultados['pred'] = y_bol1
#resultados.tail()

In [12]:
joblib.dump(lr, 'bol1')

['bol1']

### Bolo2

In [13]:
# select features and target
X = bol2.drop(['prediction', 'Fecha'], axis=1 )
y = bol2['prediction']
X = X[:-1]
y = y[:-1]

# split train/test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.10, random_state=42)

#Buid model
b2 = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
b2.fit(X,y)

#save
joblib.dump(b2, 'bol2')

['bol2']

### Bolo3

In [14]:
# select features and target
X = bol3.drop(['prediction', 'Fecha'], axis=1 )
y = bol3['prediction']
X = X[:-1]
y = y[:-1]

# split train/test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.10, random_state=42)

#Buid model
b3 = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
b3.fit(X_train, y_train)

#save
joblib.dump(b3, 'bol3')

['bol3']

### Bolo 4

In [15]:
# select features and target
X = bol4.drop(['prediction', 'Fecha'], axis=1 )
y = bol4['prediction']
X = X[:-1]
y = y[:-1]

# split train/test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.30, random_state=42)

#Buid model
b4 = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
b4.fit(X_train, y_train)

#save
joblib.dump(b4, 'bol4')

['bol4']

### Bolo 5

In [16]:
# select features and target
X = bol5.drop(['prediction', 'Fecha'], axis=1 )
y = bol5['prediction']
X = X[:-1]
y = y[:-1]

# split train/test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.30, random_state=42)

#Buid model
b5 = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
b5.fit(X_train, y_train)

#save
joblib.dump(b5, 'bol5')

['bol5']

### Bolo6

In [17]:
# select features and target
X = bol6.drop(['prediction', 'Fecha'], axis=1 )
y = bol6['prediction']
X = X[:-1]
y = y[:-1]

# split train/test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.10, random_state=42)

#Buid model
b6 = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
b6.fit(X_train, y_train)

#save
joblib.dump(b6, 'bol6')

['bol6']

### Loto mas 1

In [18]:
# select features and target
X = loto_1.drop(['prediction', 'Fecha'], axis=1 )
y = loto_1['prediction']
X = X[:-1]
y = y[:-1]

# split train/test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.30, random_state=42)

#Buid model
lt1 = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
lt1.fit(X_train, y_train)

#save
joblib.dump(lt1, 'lt1')

['lt1']

### Loto mas 2

In [19]:
# select features and target
X = loto_2.drop(['prediction', 'Fecha'], axis=1 )
y = loto_2['prediction']
X = X[:-1]
y = y[:-1]

# split train/test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.10, random_state=42)

#Buid model
lt2 = LogisticRegression(max_iter=300, solver='liblinear', random_state=42)
lt2.fit(X,y)

#save
joblib.dump(lt2, 'lt2')

['lt2']